@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    padding: 0;margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    height: 100%;
}
body {
    width: 100%;
    max-width: 1600px;
    display: flex;
    flex-direction: column;
    color: #000;
    font-size: 20px;
    font-weight: 400;
}
button {
    padding: 14px 30px;
    color: #fff;
    background-color: #0082F4;
    border-radius: 10px;
    border: none;
}
button:hover {
    background-color: #fff;
    color: #000;
}
.container {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    padding: 0 230px;
}
header {
    background-color: #fffefe;
    border-bottom: 1.5px solid #eeeeee;
}
header img {
    margin-top: 27px;
    margin-bottom: 12px;
}
.wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 230px;
}
.header-btn {
    margin-top: 36px;
    margin-bottom: 20px;
    border: none;
    padding: 14px 30px;
    border: 1px solid #0082F4;
}
.wrapper ul {
    margin-top: 50px;
    display: flex;
    list-style: none;
}

.wrapper ul li:not(:last-child) {
    margin-right: 40px;
}
.wrapper ul li a {
    text-decoration: none;
    color: #000000;
    line-height: 23.44px;
}
.wrapper ul li a:hover {
    color: #0082F4;
    padding-bottom: 35px;
    border-bottom: 1px solid #0082F4;
}
.wrapper ul li a:active {
    opacity: 0.6;
}
/* ========== RESPONSIVE ============= */
@media only screen and (max-width: 600px) {
    .container {
        display: flex;
        margin-right: auto;
        margin-left: auto;
        padding: 0 90px;
    }
    .wrapper {
        display: flex;
        justify-content: space-between;
        padding: 0 90px;
    }
    header {
        background-color: #fffefe;
        border-bottom: 1.5px solid #eeeeee;
        width: 100%;
    }
}
/* ================ MAIN ============= */
main {
    order: 1;
    background-color: #fff;
}
/* ================ HERO AREA =============== */
.hero-area {
    margin-bottom: 150px;   
}
.hero-wrapper {
    display: flex;
}
.info-container {
    margin-top: 179px;
    margin-bottom: 80px;
    margin-right: 121px;
}
.pre-info-title {
    text-transform: uppercase;
    font-size: 25px;
    line-height: 29.3px;
    color: #0080FD;
    margin-bottom: 10px;
    font-weight: 400;
}
.hero-title {
    width: 531px;
    font-weight: 700;
    font-size: 60.55px;
    line-height: 78.71px;
    margin-bottom: 20px;
}
.hero-title span {
    color: #0080FD;
}
.hero-text {
    width: 436px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
    opacity: 0.6;
    margin-bottom: 30px;   
}
.hero-btn {
    padding: 19px 45px;
    border: none;
    font-weight: 500;
    font-size: 20px;
    margin-right: 30px;
    border: 1px solid #0082F4;
}
.player-btn {
    background-color: #E5E5E5;
    color: #000;
    border: 1px solid #0082F4;
    border-radius: 10px;
    padding: 22px 34px 22px 78px;
    font-weight: 500;
    font-size: 16px;
    line-height: 18.75px ;
    position: relative;
}
.player-img {
    position: absolute;
    top: 17px;
    left: 34px;
}
.btn-wrapper {
    display: flex;
    align-items: center;
}
.img-container {
    margin-top: 100px;
}
@media only screen and (max-width: 600px){
    .hero-wrapper {
        display: flex;
        flex-direction: column;
    }
}
/* ================== HERO AREA 2 ================= */
.hero-area2 {
    background-color: #fff;
    position: relative;
    display: flex;
    margin-bottom: 150px;
}
.back-img1 {
    position: absolute;
    top: -62px;
    left: 62px;
    transform: rotate(-180deg);
}
.back-img {
    position: relative;

}
.community {
    margin-left: 140px;
}
.community-pre-title {
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #0082F4;
    margin-bottom: 5px;
}
.community-title {
    font-weight: 700;
    font-size: 49px;
    line-height: 130%;
    color: #000000;
    margin-bottom: 20px;
}
.cummunity-text {
    width: 503px;
    height: 90px;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #000000;
    opacity: 0.6;
    margin-bottom: 30px;
}
.community-btn {
    border: 1px solid #0082F4;
}
@media only screen and (max-width: 600px){
    .hero-area2 {
    display: flex;
    flex-direction: column;
    }
    .community {
        margin-top: 60px;
        margin-left: 0;
    }
}
/* ==================== FEATURES ======================= */
.features {
}
.features-title {
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 48.44px;
    line-height: 150%;
    margin-bottom: 60px;
}
.features-item {
    display: flex;
    list-style: none;
}
.features-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.features-list:not(:last-child) {
    margin-right: 81px;
}
.list-title {
    margin-top: 60px;
    font-weight: 500;
    font-size: 28px;
    line-height: 130%;
}
.lst-text {
    margin-top: 10px;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    opacity: 0.7;
}